modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyAVEEtsi39DBChHj_Cu2V04gzulVeZDOcs"
VITE_FIREBASE_AUTH_DOMAIN = "ai-project-36184.firebaseapp.com"
VITE_FIREBASE_DATABASE_URL = "https://ai-project-36184-default-rtdb.asia-southeast1.firebasedatabase.app"
VITE_FIREBASE_PROJECT_ID = "ai-project-36184"
VITE_FIREBASE_STORAGE_BUCKET = "ai-project-36184.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "1040023061480"
VITE_FIREBASE_APP_ID = "1:1040023061480:web:25d0c9e23171cde3999a5d"
VITE_FIREBASE_MEASUREMENT_ID = "G-LQYGZ1DTCD"
